.vs/
/_input/
_output/
BinStorage.TestApp/bin/
BinStorage.TestApp/obj/
BinStorage/bin/
BinStorage/obj/
BinStorage.TestApp/BinStorage.TestApp.csproj.user
BinStorage/BinStorage.csproj.user
_releases/
BinStorage.Test/obj/
BinStorage.Test/bin/
packages/
